td {
    border: 2px solid #333;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: "Comic Sans MS", cursive;
    font-size: 70px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    position: relative;
    left: 50%;
    margin-left: -155px;
    margin-top: 200px;
}

td {
    color: white;
    border: none;
    background-color: BLACK;
    display: inline-block;
    box-shadow: 0 .03em .08em rgba(0,0,0, 0.5);
    transition: background-color 0.2s ease;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 10%;
    margin: 6px;
}
table tr:first-child td {
    border-top: 0px;
}
table tr:last-child td {
    border-bottom: 0px;
}
table tr td:first-child {
    border-left: 0px;
}
table tr td:last-child {
    border-right: 0px;
}
.endgame {
    display: none;
    width: 200px;
    top: 300px;
    background-color: rgb(166, 91, 241, 0.8);
    position: absolute;
    margin-left: -14.5px;
    text-align: center;
    border-radius: 20px;
    color: white;
    font-size: 2.5em;
}
.text {
    font-family: "Comic Sans MS";
}
#button {
    width: 200px;
    top: 510px;
    border: none;
    background-color: rgb(166, 91, 241);
    position: absolute;
    left: 50%;
    margin-left: -110.5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 20px;
    color: white;
    font-size: 2em;
    font-family: "Comic Sans MS";
    cursor: pointer;
}
#heading {
    text-align: center;
    font-family: "Comic Sans MS";
    font-size: 5em;
    color: #CE0000;
    text-shadow: 3px 3px 4px black;
}
body {
    background-color: white;
    font-family: "Comic Sans MS";
}
#right {
    
    text-align: right;
    display: inline-block;
    width: 200px;
    top: 10px;
    position: absolute;
    margin-left: 800px;
    border-radius: 20px;
    
}
#left {
    text-align: center;
    display: inline-block;
    width: 450px;
    height: 420px;
    top: 200px;
    background-color: rgba(126, 65, 187,0.8);
    position: absolute;
    margin-left: 100px;
    border-radius: 20px;
    font-family: "Comic Sans MS";
    font-size: 1.5em;
    color: cornsilk;
}
.buttons {
    width: 200px;
    height: 50px;
    border: none;
    background-color: rgb(248, 85, 166);
    text-align: center;
    border-radius: 10px;
    color: rgb(15, 15, 15);
    font-size: 1em;
    font-family: "Comic Sans MS";
    cursor: pointer;
}